body {
		margin: 0;
		background-color:  #eee;
		color: black;
}

#reg {	
	margin-top: 100px;
}

input {
	height: 28px;
}

table {
	background-color: #999;
}

th {
	background-color: #dd0000;
	text-align: center;
	font-size: 150%;
	font-style: italic;
	color: white;
}

td {
	font-size: 110%;
}

#button1 {
	float: left;
}

#button2 {
	float: right;
}