#innerleft {
	width: 49%;
	padding-left: 5px;
	float: left;
}

#innerright {
	width: 49%;
	padding-right: 5px;
	float: right;
}

#innerleft table, #innerright table{
	border: 1px solid #FF8C00;
	width: 100%;
}

.img {
	height: 200px;
	width: 100%;
}

