	body {
		margin: 0;
		background-color:  #eee;
		color: black;
	}

	#NavBar {
		background-color: #dd0000;
		height: 53px;
	}

	#NavBar ul {		
		margin: 0;
    	padding: 0;
    	top: 0;
    	width: 100%;
		position: fixed;
		list-style-type: none;
    	overflow: hidden;
    	background-color: #333;
	}

	#NavBar li {
    	float: left;
    	border-right: 1px solid #bbb;
	}	

	#NavBar li a {
    	display: block;
		color: white;
    	text-align: center;
    	padding: 14px 16px;
    	text-decoration: none;
		letter-spacing: 2px;
		font-size: 18px;
		background-color: #333;
	}

	#NavBar li.active a, #NavBar li a:hover {
   	 	background-color: #dd0000;
	}	

	#NavBar li:last-child {
    		border-right: none;
	}
	
	#NavBar li strong{  
   	 	color: #dd0000;
		font-size: 41px;
		font-style: italic;
		margin-left: 10px;
	}
	
	#NavBar li span{  
   	 	color: #FF8C00;
		font-size: 16px;
		letter-spacing: 2px;
		margin-right: 12px;
	}
	
	#signup, #signin {
		float: right;
	}
	
	#signup li a, #signin li a{
		color: white;
		font-size: 18px;
	}
	
	#signin li a:hover, #signup li a:hover, #aside .inner li a:hover {
   	 	background-color: #dd0000;
	}	
	
#body{ width: 100%; margin: 0 auto; }

 h2 {
	  color: white;
	  background-color: #FF8C00;
	  height: 34px;
	  text-align: center;
  }

 #post{
 	padding-left: 20px;
 	padding-right: 20px;
	width: 90%;
	float:left;
	border-top: groove;
	border-left: groove;
	border-right: groove;
	border-bottom: groove;
	margin-left: 25px;
	margin-bottom: 25px;
}

#userInfo{
	width:20%;
	float: left;
}
#UInfo{
	width:100%;
}

#lastestPost{
	width: 25%;
	border-top: solid;
	border-left: solid;
	border-right: solid;
	float: right;
	margin-left: 50px;
	padding-left: 20px;
}

#postelement{
	width:88%;
	margin-right: 10px;
}

#communication{
	float: right;
}

#post a{
	color: #dd0000;
	text-decoration:none;
	font-weight:bold;
}