/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 30, 2016, 7:20:28 PM
    Author     : Steven
*/


	#ForumNavBar {
		background-color: #dd0000;
		height: 50px;
	}

	#ForumNavBar ul {		
		margin: 0;
    	padding: 0;
    	top: 0;
    	width: 100%;
		list-style-type: none;
    	overflow: hidden;
    	background-color: #333;
	}

	#ForumNavBar li {
		float:left;
    	display: block;
		color: white;
    	text-align: center;
    	padding: 14px 16px;
    	text-decoration: none;
		letter-spacing: 2px;
		font-size: 12px;
		background-color: #333;
	}	

	#ForumNavBar li a {
    	display: block;
		color: white;
    	text-align: center;

    	text-decoration: none;
		letter-spacing: 2px;
		font-size: 12px;
		background-color: #333;
	}
	#sectionHeader {
		width:75%;
		padding-left:12.5%;
	}
	#sectionHeader th, td{
		text-align:left;
		border-bottom: 1px solid black;
	}
	#sectionHeader a {
		color: #dd0000;
		text-decoration:none;
		font-weight:bold;
	}
