/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 28, 2016, 7:08:28 PM
    Author     : Steven
*/

	body {
		margin: 0;
		background-color:  #eee;
		color: black;
	}

	#NavBar {
		background-color: #dd0000;
		height: 53px;
	}

	#NavBar ul {		
		margin: 0;
    	padding: 0;
    	top: 0;
    	width: 100%;
		position: fixed;
		list-style-type: none;
    	overflow: hidden;
    	background-color: #333;
	}

	#NavBar li {
    	float: left;
    	border-right: 1px solid #bbb;
	}	

	#NavBar li a {
    	display: block;
		color: white;
    	text-align: center;
    	padding: 14px 16px;
    	text-decoration: none;
		letter-spacing: 2px;
		font-size: 18px;
		background-color: #333;
	}

	#NavBar li.active a, #NavBar li a:hover {
   	 	background-color: #dd0000;
	}	

	#NavBar li:last-child {
    		border-right: none;
	}
	
	#NavBar li strong{  
   	 	color: #dd0000;
		font-size: 41px;
		font-style: italic;
		margin-left: 10px;
	}
	
	#NavBar li span{  
   	 	color: #FF8C00;
		font-size: 16px;
		letter-spacing: 2px;
		margin-right: 12px;
	}
	
	#signup, #signin {
		float: right;
	}
	
	#signup li a, #signin li a{
		color: white;
		font-size: 18px;
	}
	
	#signin li a:hover, #signup li a:hover, #aside .inner li a:hover {
   	 	background-color: #dd0000;
	}	
	
#body{ width: 100%; margin: 0 auto; }
#aside{ float: left; width: 251px; padding-right: 4px;}
#content{ margin-left: 255px;}
#main{ float: left; width: 100%; }
#main .inner{ padding-right: 354px;}
#content-aside{ float: left; width: 350px; margin-left: -350px;}

  h2 {
	  color: white;
	  background-color: #FF8C00;
	  height: 34px;
	  text-align: center;
  }
  
  #aside .inner li {
	  border-bottom: 1px solid #bbb;
	  margin-left: -40px;
  }
  
  #aside .inner li a {
	    width: 251px;
		height: 30px;
    	display: block;
		color: white;
    	text-align: center;
		padding-top: 6px;
    	text-decoration: none;
		letter-spacing: 2px;
		font-size: 18px;
		background-color: #333;
}

#aside .inner ul {		
		list-style-type: none;
    	overflow: hidden;
		margin-top: -18px;
}
